<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Agar sitemap.xml file exist karti hai, toh seedha wahi dikhaye
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^sitemap\.xml$ - [L]

  # 2. Agar robots.txt file exist karti hai, toh seedha wahi dikhaye
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^robots\.txt$ - [L]

  # 3. Baaki sab React ke liye (Routing)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>